.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
   background-color: aqua;
   text-align: center;
   height: 60px;
   width: 160px;
   border: 2px solid yellowgreen;
   border-radius: 10%;
   font-weight: bold;
}

.counter{
  text-align: center;
}